:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #D16BA5;
  --second-brand-color: #86A8E7;
  --third-brand-color: #5FFBF1;
  --fourth-brand-color: red;

  

  --main-font:  'Montserrat';
  --title-font:  'Montserrat Bold';
  --main-title-font: 'Moniqa Black Display';

  font-size: 62.5%;
}
